<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${books}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{name}" id="name"/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>-->
    <br/>
    <label for="name">Введите имя автора: </label>
    <input type="text" th:field="*{autor}" id="autor"/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}">autor Error</div>-->
    <br/>
    <label for="year">Год написания книги: </label>
    <input type="text" th:field="*{year}" id="year"/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</div>-->
    
    <br/>
    <input type="submit" value="Создать"/>
</form>

</body>
</html>